Flask==1.0
Flask-Bootstrap==3.3.5.7
Flask-Mail==0.9.1
Flask-Migrate==1.7.0
Flask-Moment==0.5.1
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-WTF==0.12
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
MySQL-python==1.2.5
SQLAlchemy==1.0.9
Scrapy==1.0.3
Twisted==15.5.0
WTForms==2.0.2
Werkzeug==0.15.3
alembic==0.8.4
argparse==1.2.1
blinker==1.4
cffi==1.4.2
colorama==0.2.5
cssselect==0.9.1
dominate==2.1.16
enum34==1.1.2
flask-paginate==0.4.1
html5lib==0.99999999
idna==2.0
inflect==0.2.5
ipaddress==1.0.15
itsdangerous==0.24
lxml==4.6.2
pyOpenSSL==17.5.0
pyasn1==0.1.9
pycparser==2.14
queuelib==1.4.2
requests==2.20.0
service-identity==14.0.0
six==1.5.2
sqlacodegen==1.1.6
sqlautocode==0.7
ssh-import-id==3.21
uWSGI==2.0.11.2
urllib3==1.24.2
visitor==0.1.2
w3lib==1.13.0
wheel==0.24.0
wsgiref==0.1.2
zope.interface==4.1.3
