Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-Mail==0.9.1
Flask-Moment==0.5.1
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-WTF==0.12
Jinja2==2.8
MarkupSafe==0.23
MySQL-python==1.2.5
SQLAlchemy==1.0.9
WTForms==2.0.2
Werkzeug==0.11.2
argparse==1.2.1
blinker==1.4
dominate==2.1.16
flask-paginate==0.4.1
inflect==0.2.5
itsdangerous==0.24
sqlacodegen==1.1.6
sqlautocode==0.7
uWSGI==2.0.11.2
visitor==0.1.2
wsgiref==0.1.2
